$primary-color: #557c83;
$secondary-color: #47686EFF;
$font-family-primary: 'DeYiHei';
$font-family-secondary: 'Inter';
$font-family-bold: 'SiYuanHeiTiB';
$font-family-regular: 'SiYuanHeiTiR';
$background-color-white: white;
$background-color-black: black;
$background-color-gray: rgba(238, 238, 238, 1);
$background-color-dark-gray: rgba(105, 105, 105, 1);
$border-color: rgba(204, 204, 204, 1);
$box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.12);
$font-size-base: 16px;
$font-weight-light: 100;
$font-weight-bold: bold;
$letter-spacing-large: 6px;
$line-height-large: 130px;
$line-height-medium: 70px;
$font-size-large: 115px;
$font-size-medium: 53px;
$font-size-small: 20px;
$font-size-xsmall: 12px;
$font-size-header: 22px;
$padding-large: 200px;
$padding-medium: 250px;
$padding-small: 100px;
$padding-bottom: 5px;
$margin-bottom: 30px;
$margin-right: 20px;
$border-radius: 15px;
$icon-size: 30px;
$icon-margin-right: -10px;
$icon-padding-left: 20px;
$navbar-top: 45px;
$navbar-right: 50px;
$navbar-z-index: 1;
$main-header-z-index: 10;
$main-header-left: 140px;
$main-header-top: 165px;
$main-header-font-size-1: 115px;
$main-header-font-size-2: 53px;
$main-header-color-1: rgba(17, 17, 17, 1);
$main-header-color-2: $primary-color;
$text-content-z-index: 5;
$text-content-left: 90px;
$text-content-bottom: 130px;
$text-content-color: $primary-color;
$text-content-font-size-1: 22px;
$text-content-font-size-2: 20px;
$stats-footer-z-index: 1;
$stats-footer-bottom: 0;
$stats-footer-left: 0;
$stats-footer-padding-left: 250px;
$stats-footer-padding-bottom: $padding-bottom;
$stats-footer-span-font-size: 24px;
$stats-footer-span-font-weight: $font-weight-bold;
$stats-footer-span-padding-bottom: 12px;
$stats-footer-p-font-size: $font-size-small;
$stats-footer-p-color: $text-content-color;
$next-page-z-index: 1;
$next-page-bottom: 20px;
$next-page-left: 645px;